<section id="ghtRecentViewed" data-allow-click-to-product="{{ block.settings.allow_click_to_product }}">
  <h2>{{ block.settings.title }}</h2>
  <div id="ghtGrid" style="display: grid; grid-template-columns: repeat({{ block.settings.maximum_products_to_show }}, 1fr); gap: 10px;">
  </div>
</section>

{% schema %}
{
  "name": "Recent Viewed",
  "target": "section",
  "javascript": "ght.product.recent-view.js",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Recently Viewed"
    },
    {
      "type": "range",
      "id": "maximum_products_to_show",
      "label": "Maximum Products to Show",
      "default": 10,
      "step": 1,
      "min": 1,
      "max": 15
    },
    {
      "type": "checkbox",
      "id": "allow_click_to_product",
      "label": "Allow Click to Product",
      "default": true
    }
  ]
}
{% endschema %}
